
alphaSwc/tendril.py
alphaSwc/swc.py
alphaSwc/mesh_processing.py
alphaSwc/__init__.py
alphaSwc/tendril.py
alphaSwc/swc.py
alphaSwc/mesh_processing.py
alphaSwc/__init__.py
input/04b_spindle3aFI.ply
input/04b_spindle3aFI.png
input/04b_spindle3aFI_accuracy.txt
input/04b_spindle3aFI_cbar.png
input/04b_spindle3aFI_pc.ply
input/04b_spindle3aFI_pc.png
input/1-2-1.CNG.ply
input/1-2-1.CNG.png
input/1-2-1.CNG_accuracy.txt
input/1-2-1.CNG_cbar.png
input/1-2-1.CNG_clean.swc
input/1-2-1.CNG_large_alpha.ply
input/1-2-1.CNG_pc.ply
input/1-2-1.CNG_pc.png
input/1-2-1.CNG_small_alpha.ply
input/1-2-2.CNG.ply
input/1-2-2.CNG.swc
input/1-2-2.CNG_clean.swc
input/11-2-1.CNG.ply
input/11-2-1.CNG.png
input/11-2-1.CNG.swc
input/11-2-1.CNG_clean.swc
input/519_10A1N1D.CNG.ply
input/519_10A1N1D.CNG_clean.swc
input/CGIN-CTL-7.CNG.ply
input/CGIN-CTL-7.CNG_clean.swc
input/test.ply
input/04b_spindle3aFI.ply
input/04b_spindle3aFI.ply
microglia/final_meshes/activated_process_1.ply
microglia/final_meshes/activated_process_2.ply
microglia/final_meshes/activated_process_3.ply
microglia/final_meshes/activated_soma.ply
microglia/final_meshes/ramified_process_1.ply
microglia/final_meshes/ramified_process_2.ply
microglia/final_meshes/ramified_process_3.ply
microglia/final_meshes/ramified_process_4.ply
microglia/final_meshes/ramified_process_5.ply
microglia/final_meshes/ramified_soma.ply
microglia/ramified.ply
microglia/ramified.swc
test_batch_input/1-2-1.CNG.swc
test_batch_input/H17.03.013.11.08.04_692297214_m.swc
test_batch_input/C_149.CNG_clean_alt.swc
test_batch_input/H17.06.013.12.03.01_681002938_m.swc
test_batch_output/04b_spindle3aFI.ply
test_batch_output/1-2-1.CNG.ply
test_batch_output/20131203_a1_reconstruction.CNG.ply
test_batch_output/C_149.CNG_clean_alt.ply
test_batch_output/H17.03.013.11.08.04_692297214_m.ply
test_batch_output/H17.06.013.12.03.01_681002938_m.ply
test_batch_output/P1CS-31.CNG.ply
test_batch_output/TTX_D_52CNG.ply
test.1.node
test.1.face
scratch.ipynb
neuron_meshing_paper/job.txt
job.txt
input/test_clean.swc
