20131203_a1_reconstruction.CNG
animation_test
H17.03.013.11.08.04_692297214_m
P1CS-31.CNG
__pycache__
*.ps1
Tools
*.png
*.ipynb
input/*.ply
input/*.ply
test_batch_input\04b_spindle3aFI.ply
test_batch_input\A00b2_a1_morphology.CNG.ply
test_batch_output
simplify_meshes_custom.py
cylinder.ply
file.swc
pc.ply
/test_batch_accuracy
