*.ipynb
src/__pycache__
test_batch_output
test_batch_accuracy
output
/1000_swc_files
/__pycache__
/1000_surface_meshes
/Random_swc_files
/1000_FE_data
/1000_SME
/Modified_Ultraliser/output_refined_10
/Modified_Ultraliser/output_refined_8
/Private
/view_outputs/__pycache__
/Modified_Ultraliser/Ultraliser
/10_swc_files
/Modified_Ultraliser/FE_data
/Modified_Ultraliser/output_optimized
/Modified_Ultraliser/SME
/view_outputs/__pycache__
Modified_Ultraliser/MU_batch_mesh_swc_refined.sh
Modified_Ultraliser/MU_batch_mesh_swc_refined.sh
